<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11"></div>
    <ul>
       <li> 
           <h1>Estudio 1 </h1> 
           <h3>(Años)</h3>
       </li>
       <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, facere. Repudiandae amet omnis incidunt culpa laborum molestiae! Accusantium obcaecati cumque officiis nemo odio, ab, quam porro pariatur culpa, esse aspernatur!
       </p>
    </ul>

    <ul>
        <li> 
            <h1>Estudio 2 </h1> 
            <h3>(Años)</h3>
        </li>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, facere. Repudiandae amet omnis incidunt culpa laborum molestiae! Accusantium obcaecati cumque officiis nemo odio, ab, quam porro pariatur culpa, esse aspernatur!
        </p>
     </ul>
</div>