<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>

        <div class="redes">
                <a href="https://www.linkedin.com/in/tamara-jacqueline-317ab3238/" target="_blank"> <img src="../../../assets/linkedin.png" id="linkedin"> </a>
                <a href="https://github.com/Tjacqueline" target="_blank"> <img src="../../../assets/github.png" id="github"> </a>
                <a href="https://www.facebook.com/profile.php?id=100082271544728" target="_blank"> <img src="../../../assets/facebook.png" id="facebook"> </a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
            </div>
    </div>
</div>
