.row{
    padding: 20px;
    color:white;

}
div{
    color:white;

}
h1, h3{
    display:inline;
    color:white;
}

.table{
    color:white;
}

.btn{
    color:black;
    transition: 0.5s;
    border-width: medium;
    margin-left:0.2em;
    border-color:black;
    background-color: white;
}
.btn:hover {    
    filter: invert(100%);
    transform:scale(1.1);
    transition: 0.5s;
}