.row{
        padding:5% 5%;
        background-color:#141216;
        color:white;
    }
    div{
    background-color:#141216;
    color:white;
    text-align: center;
    align-items: center;
    padding:5% 2% 5% 2%;
    }
    