<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <img src="../../../assets/MiFoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
       <p>Full Stack Developer Jr</p>
     </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
       <span>
           <h1>Acerca de mí</h1>
           <p>¡Hola! me llamo Tamara, tengo 23 años. <br>
            Nací en San Luis pero actualmente me encuentro viviendo en Salta.<br>
            Estoy cursando la carrera de Analista de Sistemas en la Universidad Nacional de Salta <br>
            Me gusta el dibujo y la programación.</p>
       </span>
    </div>
   </div>