<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <img src="../../../assets/MiFoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <p id="nombre">Videla Tamara Jacqueline</p>
       <p>Full Stack Developer Jr</p>
     </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
       <span>
           <h1>Acerca de mí</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sapiente soluta corrupti aperiam voluptatum omnis! Deleniti odio, autem eligendi odit et temporibus sapiente officia aliquam nemo quas iure eos amet?</p>
       </span>
    </div>
   </div>