
div{
    background-color:#d3ab3c;
    text-align: center;
    color:#583d00;
    padding:2% 2% 2% 2%;
  }

/*foto de perfil y nombre*/
@media (min-width:576px){
  div{
    padding:2% 3% 2% 3%;
  }

  #fotodeperfil{position:relative;width: 100%;box-shadow: 3px 3px 3px #583d00;border-radius:100%;left: 5%;}
  #nombre{font-weight: bold;margin-top: 19%;}

}

@media (max-width:575px){
  div{
    padding:5% 5% 5% 5%;
  }
  #fotodeperfil{position: relative;width: 45%;border-radius: 100%;box-shadow: 0.2px 0.2px 7px #583d00;}
  #nombre{font-weight: bold;}
}


