
div{
    text-align: center;
    color:white;
    padding:2% 2% 2% 2%;
    align-items: center;
  }

/*foto de perfil y nombre*/
@media (min-width:576px){
  div{padding:2% 3% 2% 3%;}
  #nombre{margin-top: 19%;}
  #fotodeperfil{
      border-radius:50%;
      box-shadow: 0px 0px 7px 2px #83574c;
  }
  #fotodeperfil:hover{
    border-radius:50%;
    box-shadow: 0px 0px 14px 5px #ffaa95;
      }
}

@media (max-width:575px){
  div{
    padding:5% 5% 5% 5%;
  }
  #nombre{margin-top: 19%;}
  #fotodeperfil{
    position: relative;
    width: 45%;
    border-radius:50%;
    box-shadow: 0px 0px 7px 2px #83574c;
  }
  #fotodeperfil:hover{
    border-radius:50%;
    box-shadow: 0px 0px 14px 5px #ffaa95;
      }
}