
div{
    background-color:#141216;
    text-align: center;
    color:white;
    padding:2% 2% 2% 2%;
    align-items: center;
  }

/*foto de perfil y nombre*/
@media (min-width:576px){
  div{
    padding:2% 3% 2% 3%;
  }

  #fotodeperfil{position:relative;width: 250%;box-shadow: 5px 5px 5px #292929;border-radius:100%;left: 5%;}
  #nombre{font-weight: bold;margin-top: 19%;}

}

@media (max-width:575px){
  div{
    padding:5% 5% 5% 5%;
  }
  #fotodeperfil{position: relative;width: 45%;border-radius: 100%;box-shadow: 0.2px 0.2px 7px #292929;}
  #nombre{font-weight: bold;}
}


