.row{
    background-color:#141216;
}
footer{
    color:rgb(214, 212, 216);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}