<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Portfolio Web Full Stack 09/2022</h2>
               <p>Mi proyecto integrador.<br>
                   Este es mi portafolio donde se encuentra toda mi información para poder encontrar un trabajo como desarrolladora web.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyectoportfolio.png" class="img-fluid img-proyecto">
        </div>
         <div class="col-sm-12 col-md-7 col-lg-7 parte1">
             <h2>Ilustradora 01/2022</h2>
                <p>Trabajo cono ilustradora para una empresa japonesa.<br>
                    Mi tareas eran hacer ilustraciones sobre jardines y residencias para adultos mayores.</p>
         </div>
         <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
             <img src="../../../assets/proyectoilustracion.png" class="img-fluid img-proyecto">
         </div>
    </div>
</div>