* {
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}

h1 {text-align: justify;padding:1.2%;}

.row {
    color:white;
    margin:0;
    padding:1.2%;
}

.parte1 {
    display: inline-block;
    text-align: justify;
    padding: 2%;
}

.parte2 {
    display:inline-block;
    height: 35vh;
    width: 47vh;
    padding:2%;
}

.parte2 figure {
   position:relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}

.parte2 figure img {
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.parte2 figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(56, 56, 56, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}

.parte2 figure:hover > .capa {opacity: 1; visibility: visible;}

.parte2 figure:hover > img {transform: scale(1.3);}

.parte2 figure .capa #linkproyecto {
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.ojo {text-align: center; margin-top: 45%;}

a:link {color: white;}

a:visited {color: rgb(160, 255, 147);}

a:hover {color: rgb(248, 129, 129);}

a:active{color: rgb(46, 46, 46);}
