<div class="row">
    <h1>Proyectos realizados</h1>
 <div class="contenedor">

    <!--proyecto 1-->
    <div class="parte1">
        <h2>Portfolio Web Full Stack 09/2022</h2>
        <p>Proyecto integrador.<br> El primer proyecto en el que trabajé fue mi propio portafolio
            web, en donde pongo en práctica lo que aprendí, demostrando mi creatividad. </p>
    </div>
    <div class="parte2">
        <figure>
            <img src="../../../assets/proyectoportfolio.png" class="img-fluid img-proyecto">
            <div class="capa">
                <div id="linkproyecto">
                    <a href="https://github.com/Tjacqueline/portfolio-videla" title="" target="_blank">
                        <h3 class="fa-solid fa-eye ojo"></h3>
                    </a>
                </div>
            </div>
        </figure>
    </div>
</div>

<div class="contenedor">
 <!--proyecto 2-->
    <div class="parte1">
        <h2>Página web 10/2022</h2>
        <p>Pagina web sobre joyeria<br> En este segundo trabajo pongo en práctica nuevos diseños 
            y transiciones, brindando un panorama de lo que podría ser una tienda virtual.</p>
    </div>
    <div class="parte2">
        <figure>
            <img src="../../../assets/proyectojoyeria.png" class="img-fluid img-proyecto">
            <div class="capa">
                <div id="linkproyecto">
                    <a href="https://tjacqueline.github.io/proyecto1joyeria.github.io/" title="" target="_blank">
                        <h3 class="fa-solid fa-eye ojo"></h3>
                    </a>
                </div>
            </div>
        </figure>
    </div>
</div>

<div class="contenedor">
 <!--proyecto 3-->
    <div class="parte1">
        <h2>Diseño 10/2022</h2>
        <p>Diseño sobre particulas<br>Experimentando diseños para fondos de paginas web.<br></p>
    </div>
    <div class="parte2">
        <figure>
            <img src="../../../assets/proyectoparticulas.png" class="img-fluid img-proyecto">
            <div class="capa">
                <div id="linkproyecto">
                    <a href="https://tjacqueline.github.io/dise-o.github.io/" title="" target="_blank">
                        <h3 class="fa-solid fa-eye ojo"></h3>
                    </a>
                </div>
            </div>
        </figure>
    </div>
</div>
</div>